<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
     <mapping resource="com/lifung/dao/ItfConfig.hbm.xml"></mapping>
     <mapping resource="com/lifung/dao/ItfGtwatcherConfig.hbm.xml"></mapping>
     <mapping resource="com/lifung/dao/Transmitlog3.hbm.xml"></mapping>
        <mapping resource="com/lifung/dao/DeviceProfile.hbm.xml"></mapping>
        <mapping resource="com/lifung/dao/Facility.hbm.xml"></mapping>
        <mapping resource="com/lifung/dao/Forecast.hbm.xml"></mapping>
        <mapping resource="com/lifung/dao/PmaRtnQty.hbm.xml"></mapping>
        <mapping resource="com/lifung/dao/InLine.hbm.xml"></mapping>
        <mapping resource="com/lifung/dao/OutLine.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>
